body {
  font-size: 18px;
  background-color: #0f013e;
  color: #fff;
  display: grid;
  grid-gap: 2rem;
  padding: 2rem;
  grid-template-columns: 1fr;
}

body > * {
  background-color: #444;
  padding: 0.3rem;
}

nav {
  display: grid;
  grid-template-columns: auto 10rem 1fr 10rem auto;
  grid-template-areas: "title . search-box . account";
}

.title {
  grid-area: title;
}

.search-box {
  grid-area: search-box;
  text-align: center;
  background-color: #553;
}

.account {
  grid-area: account;
}

@media screen and (max-width: 768px) {
  nav {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "title . account"
      "search-box search-box search-box";
  }
}

.detail-kendaraan {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "arah kecepatan"
    "detail detail";
}

.arah {
  color: #333;
  grid-area: arah;
  background-color: #fff;
  padding: 1rem;
}

.kecepatan {
  color: #333;
  grid-area: kecepatan;
  background-color: #aaa;
  padding: 1rem;
}

.detail {
  grid-area: detail;
  background-color: #555;
  padding: 1rem;
}

.arus-kendaraan {
  color: #333;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.arah-arus {
  background-color: #aaa;
  padding: 1rem;
}

.smp-perjam {
  background-color: #fff;
  padding: 1rem;
}

.foto-jalan {
  display: grid;
  grid-template-rows: 1fr;
}

.gambar-jalan {
  background-image: url("https://picsum.photos/500");
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

.update-terakhir {
  text-align: center;
  color: #222;
  background-color: #eee;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  body {
    padding: 2rem 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "nav nav"
      "detail-kopang foto-jalan"
      "detail-mataram foto-jalan"
      "header header"
      "arus-kopang arus-mataram"
      "komposisi-arah grafik-perhari"
      "volume-kopang volume-mataram"
      "kecepatan-kopang kecepatan-mataram";
  }

  nav {
    grid-area: nav;
  }

  .detail-kopang {
    grid-area: detail-kopang;
  }

  .detail-mataram {
    grid-area: detail-mataram;
  }

  .foto-jalan {
    grid-area: foto-jalan;
  }

  header {
    grid-area: header;
  }
}
