html {
  font-size: 2vmin;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #7ebceb;
  color: #3b5871;
  display: grid;
  grid-gap: 2rem;
  /*padding: 2rem 0rem;*/
  grid-template-columns: 1fr;
}

body > * {
  background-color: #afd2e9;
  padding: 0rem;
}

nav {
  display: grid;
  grid-template-columns: auto 11rem 1fr 11rem auto;
  grid-template-areas: "title . search-box . account";
}

.title {
  grid-area: title;
}

.search-box {
  grid-area: search-box;
  text-align: center;
  background-color: #553;
}

input {
  width: 80%;
}

button {
  width: 18%;
}

.account {
  grid-area: account;
}

@media screen and (max-width: 1024px) {
  nav {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "title . account"
      "search-box search-box search-box";
  }
}

.detail-kendaraan {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "arah kecepatan"
    "detail detail";
}

.arah {
  color: #fff;
  grid-area: arah;
  background-color: #248a49;
  padding: 1rem;

  text-align: center;
  /*
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.arah .deskripsi-arah {
  font-size: 2rem;
  font-weight: bold;
}

.arah i {
  font-size: 6rem;
  /*color: #fff;*/
}

.kecepatan {
  color: #c5c8c4;
  grid-area: kecepatan;
  background-color: #3f4b3b;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.kecepatan div:nth-child(2) {
  font-size: 2.5rem;
  font-weight: bold;
}

.detail {
  grid-area: detail;
  background-color: #5a9367;
  color: #cdded1;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.detail > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.detail > div > i {
  font-size: 3rem;
}

.arus-kendaraan {
  color: #333;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.arah-arus {
  background-color: #aaa;
  padding: 1rem;
}

.smp-perjam {
  background-color: #fff;
  padding: 1rem;
}

.foto-jalan {
  display: grid;
  grid-template-rows: 1fr;
}

.gambar-jalan {
  background-image: url("https://picsum.photos/500");
  background-position: center;
  background-size: cover;
  /*min-height: 500px;*/
  padding-top: 100%; /* https://stackoverflow.com/a/34076422/9157799 */
}

.update-terakhir {
  text-align: center;
  color: #ccded0;
  background-color: #5a9367;
  padding: 1rem;
}

@media screen and (min-width: 769px) {
  body {
    padding: 2rem 4rem;
    width: 99%;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "nav nav"
      "foto-jalan detail-kopang"
      "foto-jalan detail-mataram"
      "header header"
      "arus-kopang arus-mataram"
      "komposisi-arah grafik-perhari"
      "volume-kopang volume-mataram"
      "kecepatan-kopang kecepatan-mataram";
  }

  nav {
    grid-area: nav;
  }

  .detail-kopang {
    grid-area: detail-kopang;
  }

  .detail-mataram {
    grid-area: detail-mataram;
  }

  .foto-jalan {
    grid-area: foto-jalan;
  }

  header {
    grid-area: header;
  }
}

@media screen and (min-width: 769px) and (orientation: portrait) {
  body {
    padding: 1rem;
  }
}
